flask==2.0.1
werkzeug==2.0.3
gunicorn==20.1.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
googlemaps==4.10.0
pandas==1.5.3
python-dotenv==1.0.0
requests==2.31.0
validate-email==1.3
beautifulsoup4==4.12.2
Flask-Login==0.6.2
Authlib==1.2.1
tenacity==8.2.2 